.advantage {
    margin-bottom: 50px;
}

.advantage__row {
    display: flex;
}

.advantage__description {
    width: 400px;
    background-color: #81b3d2;
    color: #ffffff;
    text-transform: uppercase;

    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 58px;
    text-align: center;
}

.advantage__title {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 24px;

    font-size: 21px;
}

.advantage__number {
    margin: 0 auto;

    padding: 0;
    margin-bottom: 21px;
}

.advantage__text {
    margin: 0;
    padding: 0;
}

.advantage__row--reverse {
    flex-direction: row-reverse;
}

.advantage__image {
    display: block;
}

.advantage__item {
    width: 33.3333%;
    padding-top: 48px;
    padding-left: 58px;
    padding-right: 57px;
    padding-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}

.advantage__item--icon {
    position: relative;
    padding-top: 163px;
    padding-bottom: 80px;

    &::before {
        position: absolute;
        top: 56px;
        left: 50%;
        width: 80px;
        height: 80px;
        content: "";

        transform: translate(-50%);
        background: #81b3d2;
    }
}

.advantage__item--house {
    &::before {
        background: url("../img/icon-1.png") no-repeat center center;
    }
}

.advantage__item--food {
    &::before {
        background: url("../img/icon-2.png") no-repeat center center;
    }
}
.advantage__item--souvenir {
    &::before {
        background: url("../img/icon-3.png") no-repeat center center;
    }
}
