
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3333%;
  padding-right: 50px;
  padding-left: 50px;
}

.copyright__image {
  padding-top: 5px;
}

.copyright__text {
  margin: 0;
  margin-right: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.copyright__link {
  &:hover,
  &:focus {
    filter: brightness(0) saturate(100%) invert(76%) sepia(26%) saturate(510%) hue-rotate(162deg) brightness(86%) contrast(89%);
  }

  &:active {
    opacity: 0.5;
    filter: invert(0.5);
  }
}
