.filter {
    height: 217px;
    background-color: #44749c;
    background-image: url("../img/hotels-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
        padding-top: 27px;
        padding-right: 71px;
        padding-bottom: 30px;
        padding-left: 72px;

}


.filter__form {
display: flex;


}


.filter__infrastructure {
margin-right: 119px;
}


.filter__house {

}


.filter__price {
margin-left: auto;
}
