.hashtag {
  width: 33.3333%;
  padding-right: 50px;
  padding-left: 50px;

  text-align: center;
}

.hashtag__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
