.hashtag {
    width: 33.3333%;
        padding-right: 50px;
        padding-left: 50px;
        text-align: center;

}

.hashtag__link {
font-size: 21px;
font-weight: 700;
line-height: 26px;
text-transform: uppercase;
color: #000000;

}
