.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__item {
  width: 20%;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 17px;
  padding-left: 30px;

  text-align: center;
}

.navigation__link {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  &:hover[href],
  &:focus[href] {
    color: #81b3d2;
  }

  &:active[href] {
    color: #000000;

    opacity: 0.3;
  }
}

.navigation__item:nth-child(4n+2) {
  margin-right: 20%;
}
