.navigation {
    // padding-left: 6%;
    // padding-right: 6%;
}

.navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
     display: flex;

     flex-wrap: wrap;


}

.navigation__item {
    width: 20%;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 30px;
    padding-right: 30px;


    text-align: center;
}

.navigation__link {
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;

}

.navigation__item:nth-child(4n+2) {
   margin-right: 20%;
}

// .navigation__item:nth-child(4n+3),
// .navigation__item:nth-child(4n+4) {
//     text-align: right;
// }
