.option-filter__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.option-filter__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.option-filter__item {
  margin-top: 25px;
}

.option-filter__checkbox {
  display: none;
}


.option-filter__label {
  position: relative;

  padding-left: 40px;

  color: #ffffff;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
  }
}
.option-filter__checkbox:checked ~ .option-filter__label::after {
  background-image: url("../img/checkbox-on.svg");
}

.option-filter__checkbox:disabled + .option-filter__label {
  &::after {
    background-image: url("../img/checkbox-off-disabled.svg");
  }
}

.option-filter__checkbox:checked:disabled + .option-filter__label {
  &::after {
    background-image: url("../img/checkbox-on-disabled.svg");
  }
}
