.social {
  width: 33.3333%;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}


.social__item {
  margin-top: 10px;

  font-size: 0;
}

.social__link {
  display: inline-block;
  width: 46px;
  height: 48px;

  vertical-align: baseline;

  background-color: #81b3d2;
}


.social__link--twitter {
  background: url("../img/twitter.jpg") no-repeat;
}

.social__link--fb {
  background: url("../img/fb.jpg") no-repeat;
}

.social__link--youtube {
  background: url("../img/youtube.jpg") no-repeat;
}
