@import "blocks/global";
@import "blocks/navigation";
@import "blocks/logo";

@import "blocks/page";
@import "blocks/welcome";
@import "blocks/advantage";
@import "blocks/hotel-search";
@import "blocks/search";
@import "blocks/map";

@import "blocks/site-footer";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/hashtag";




.tri {

        font-size: 0;
        width: 0;
        height: 0;
        margin-right: 12px;
        cursor: pointer;
        border: 5px solid transparent;
        border-top-width: 0;
        border-bottom-width: 10px;
        border-bottom-color: #cdcdcd;

}
